<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%load static%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        
        {%load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark  "style="background-color: #0a4275;" >
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            data-mdb-collapse-init
            class="navbar-toggler"
            type="button"
            data-mdb-target="#navbarCenteredExample"
            aria-controls="navbarCenteredExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarCenteredExample"
          >
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{%url 'shop'%}">SHOP</a>
              </li>
              <!-- Navbar dropdown -->
              <li class="nav-item dropdown">
                <a
                  data-mdb-dropdown-init
                  data-bs-toggle="dropdown"
                  class="nav-link dropdown-toggle"
                  
                  id="navbarDropdown"
                  role="button"
                  aria-expanded="false"
                >
                  MENI
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{%url 'contact'%}">KONTAKT</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{%url 'register'%}">REGISTRACIJA</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="{%url 'login'%}">LOGIN</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link " href="{%url 'cart'%}"
                  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                  </svg>

                </a>
                {%else%}
                <a class="nav-link "
                >LOGIN</a
              >
              {%endif%}
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
        {%block main%}

        {%endblock main%}
        
        <section class="">
          <!-- Footer -->
          <footer class="text-center text-white" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
              <!-- Section: CTA -->
              <section class="">
                <p class="d-flex justify-content-center align-items-center">
                  <div class="d-flex justify-content-center align-items-center flex-column">
                    
                    <img src="https://geneltrade.ba/wp-content/uploads/2017/04/genelwhite.svg"/>
                    <p>
                      GENEL d.o.o. Sarajevo je kompanija sa dugogodišnjim iskustvom u unutrašnjoj i 
                      vanjskoj trgovini autodijelovima za teretna vozila, autobuse, kao i putničke automobile.
                    </p>
                  </div>
                  <span class="me-3">Registruj se</span>
                  <a href="{% url 'register'%}" data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                    Sign up!
                  </a>
                </p>
              </section>
              <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
        
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2024 Copyright:
              <a class="text-white" href="https://geneltrade.com/">GENEL TRADE</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer -->
        </section>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    </body>
</html>