{% extends "base.html" %}

{%block main%}

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">GENEL TRADE D.O.O WEBSHOP</h1>
        <p class="lead">

            GENEL - vaš partner za autodijele! Naša firma GENEL specijalizirana je za distribuciju širokog asortimana autodijelova za sve vrste vozila. Na ovom WebShop-u ćete pronaći čitav spektar komponenti, od najmanjih detalja do kompletnih sistema. Naši stručnjaci su uvijek spremni da vam pomognu u izboru potrebnog dijela i omogućavaju brzu i sigurnu dostavu do vašeg cilja.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">LOGIN</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">REGISTRUJ SE</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="" alt="slika-hero" width="720">
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src=".." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gume</h5>
          <p class="card-text">U našoj ponudi nudimo ljetne i zimske gume najpoznatijih svjetskih proizvođača u svim veličinama i modelima za dostavna vozila, kombi vozila, kamione, autobuse i gume za radne strojeve.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dijelovi Motora</h5>
          <p class="card-text">U našoj ponudi dijelova motora nudimo mnoštvo proizvoda, između ostalog, remenje i razvod motora, termostate, hladnjake, pumpe vode, bregaste osovine, brtve, nosače motora i ostalo.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kočioni Sistemi</h5>
          <p class="card-text">Kočioni sistem je jedan od najvažnijih sigurnosnih elemenata na vozilu. U našoj ponudi imamo diskove, disk pločice, pakne, kočione cilindre, kočione tekućine, ABS senzore za sve vrste vozila.

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hlađenje i Klime</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  



{%endblock main%}